* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_register {
    display: flex;
    justify-content: center;
    align-items: center;

    .register {
        width: 471px;
        height: 505px;
        box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-weight: 700;
                font-size: 30px;
                padding-left: 38px;
            }

            img {
                width: 40px;
                height: 50px;
            }
        }

        form {
            padding: 2rem;

            #email {
                width: 100%;
                padding: 14px 10px 14px 20px;
                border: 1px solid ;
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
                border-radius: 1000px;
                border-radius: 1000px;
                font-weight: 300;
                font-size: 15px;
            }

            .errors {
                color: #D80000;
                margin-top:16px;
            }

            .Button-register {
                .btn-sign_up {
                    width: 100%;
                    padding: 14px 10px 14px 20px;
                    font-weight: 700;
                    font-size: 14px;
                    color: #fff;
                    background: #D80000;
                    border-radius: 100px;
                    border: none;
                    margin-top: 40px;
                    cursor: pointer;
                }

                .Or {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0.1px;
                    font-size: 21.6667px;
                    opacity: 0.3;

                    .line {
                        height: 2px;
                        background-color: #000;
                        width: 126.2px;
                        height: 0px;
                        border: 0.417895px solid #001345;
                    }
                }
            }

            .two-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-gg:hover,
                .btn-fb:hover {
                    opacity: 0.4;
                    cursor: pointer;
                }

                .btn-gg img,
                .btn-fb img {
                    width: 182px;
                    height: 52px;
                    border: 0.417895px solid #F20000;
                    box-shadow: 0px 1.67158px 6.68632px rgba(0, 0, 0, 0.14);
                    border-radius: 100px;
                    padding: 7px;
                }
            }

            .info {
                text-align: center;
                font-size: 15px;

                .service {
                    margin-top: 20px;
                }

                .account {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                    p {
                        opacity: 0.5;
                    }
                }

                a {
                    text-decoration: none;
                    color: #D80000;
                }
            }
            

        }

    }

}